<!-- 
Use each of the following to bind and display your personal information. ∙​​expressions and data binding
∙ ​directives
∙ ​controller 
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>    <!--AngularJS library from CDN-->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body ng-app>
    Enter numbers to multiply : 
    <input type="text" ng-model="Num1" /> x <input type="text" ng-model="Num2"/> = {{Num1*Num2}}
    <!-- ng-model and ng-body are directives -->
    <!-- in  curly braces, there are expression -->
    <p>thanks</p>
</body>
</html>